body {
  background: var(--body-bg);
}

/************** header section start ***************/
header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 2.5vh 2vw;
  background: var(--content-bg);
  width: 100%;
}

header .logo {
  height: 50px;
  width: 150px;
}

header .nav-links {
  display: flex;

}

header .nav-links .active, .nav-links li a:hover {
  background: var(--linear-grad-blue);
  color: white;
  transition: 0.1s ease-in-out;
}

header .nav-links li {
  margin: 0 1vw;
}

header .nav-links li a {
  padding: 5px 10px;
  border-radius: 50px;
}

header .nav-links li a i {
  margin-right: 5px;
}

header .search-container {
  background: #fff;
  height: 20px;
  border-radius: 50px;
  margin-top: 1vh;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

}

.search-container:hover>.search-input {
  width: 100px;

}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.2s;
}

.search-container .search-btn .fas {
  color: var(--color-black);
}


.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/************** header section end ***************/

/************** Main section Start ***************/
main {
  display: flex;
  justify-content: space-between;
}

main .content {
  max-width: 78vw;
}

main .sidebar {
  width: 20vw;
  background: var(--content-bg);
  padding: 10px 10px;
  color: var(--text-color);
}


/************** sidebar section start ***************/
.sidebar-content {
  margin-bottom: 30px;
  color: var(--text-color);
}

.sidebar-title {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  color: var(--text-color);
}

.sidebar .quick-links li {
  margin: 2px 0;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar .quick-links li a {
  color: var(--text-color);
}

.sidebar .quick-links li a i {
  margin: 0 7px;
  font-size: 16px;
}

.recent-posts .recent-post {
  margin-bottom: 10px;
}

.recent-post {
  display: flex;
}

.recent-posts .recent-post img {
  margin-right: 10px;
  width: 5vw;
  height: auto;
}

.recent-posts .recent-post .title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}

.recent-posts .recent-post .title .detail {
  font-size: 12px;
  font-weight: 300;
}

/* margin for social link */
.social-link {
  margin-left: 8%;
  margin-top: 3%;
}

/* styling fontawesome icon */
.fa {
  padding: 9px;
  width: 40px;
  text-align: center;
  margin: 2px 1px;
}

.fa:hover {
  opacity: 0.9;
}

/* styling icons */
.social-link .fa-facebook-f {
  background: #3b5998;
  color: var(--color-white);
}

.social-link .fa-twitter {
  background-color: #00acee;
  color: var(--color-white);
}

.social-link .fa-google {
  background-color: #dd4b39;
  color: var(--color-white);
}

.social-link .fa-linkedin-in {
  background: #007bb5;
  color: var(--color-white);
}

.social-link .fa-youtube {
  background-color: #FF0000;
  color: var(--color-white);
}

.social-link .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: var(--color-white);
}

.social-link .fa-pinterest {
  background: #cb2027;
  color: var(--color-white);
}

.social-link .fa-github {
  background-color: #0091ff;
  color: var(--color-white);
}

.social-link .fa-quora {
  background-color: #f3114d;
  color: var(--color-white);
}

.social-link .fa-medium {
  background-color: #00AFF0;
  color: var(--color-white);
}

.social-link .fa-android {
  background-color: #78C257;
  color: var(--color-white);
}

.social-link .fa-vimeo {
  background-color: #00AFF0;
  color: var(--color-white);
}

.search {
  margin-top: 15px;
  margin-left: 3px;
}

.sidebar .search input {
  background: #d1d1d1;
  padding: 17px 5px 15px 5px;
  width: 12vw;
  height: 35px;
  border-radius: 25px 0 0 25px;
  border: none;
}

/* styling search button */
.search button {
  background-color: #0074D9;
  padding: 3px 10px;
  margin-left: -5px;
  height: 35px;
  font-size: var(--font-size-body);
  border: none;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.search button i {
  color: var(--color-white);
}


/************** sidebar section end ***************/

/************** Content section Start ***************/




/************** Content section End ***************/

/************** Main section End ***************/


/************** Footer section Start ***************/
footer .row {
  display: flex;
  height: auto;
  width: 100%;
  background: var(--text-color);
}

/************** Footer column1 section Start ***************/
.footer-col {
  border-right: 1px solid var(--body-bg);
  padding: 1px 10px 2px 15px;
  flex: 24%;
  color: var(--text-footer);
}

.footer-col h3 {
  color: var(--text-footer);
  margin-bottom: 2px;
  border-bottom: 1px solid gray;
  max-width: auto;
  margin-bottom: 10px;
}

.footer-col1 .footer-para {
  font-size: 12px;
  line-height: 1.2;
  color: var(--text-footer);
  text-align: justify;
}

.footer-col1 img {
  width: 180px;
  margin-top: 10px;
}

/************** Footer column2 section Start ***************/
.footer-col2 li {
  margin: 2px 0;
  color: var(--text-footer);
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-col2 li a {
  color: var(--text-footer);
}

.footer-col2 li a i {
  margin: 0 7px;
  font-size: 16px;
}

.footer-col2 ul li a {
  color: var(--text-footer);
}

/************** Footer column3 section Start ***************/
.footer-col3 .recent-post {
  margin-bottom: 10px;
}

.footer-col3 .recent-post img {
  margin-right: 10px;
}

.footer-col3 .recent-post .title p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--text-footer);
}

.footer-col3 .recent-post .title .detail {
  font-size: 12px;
  font-weight: 300;
  color: var(--text-footer);
}

/************** Footer column4 section Start ***************/
.footer-col4 form input {
  outline: none;
  border: 1px solid var(--content-bg);
  background: var(--body-bg);
  border-radius: 2px;
  padding: 5px 10px;
  width: 20vw;
  margin-bottom: 15px;
}

.footer-col4 button {
  background: var(--linear-grad-blue);
  border-radius: 2px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  color: var(--color-white);
}

/************** Footer row2 section Start ***************/
footer .row2 {
  width: 100%;
  background: var(--color-black);
  height: 30px;
  justify-content: space-between;
  padding: 0 10px;
}

footer .row2 p {
  color: var(--text-footer);
  font-size: 16px;
}

footer .row2 .links {
  display: flex;
}

footer .row2 .links li a {
  margin: 0 10px;
  font-size: 14px;
  color: var(--text-footer);
}

/**************keyframes Start ***************/
@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }

  25% {
    transform: skew(5deg, 5deg);
  }

  75% {
    transform: skew(-5deg, -5deg);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}

/************** Media query for responsive ***************/
@media screen and (max-width: 768px) {

  /************** Main section Start ***************/
  main {
    display: block;
  }

  main .content {
    width: 100vw;
  }

  main .sidebar {
    width: 100vw;
  }

  /************** Header section Start ***************/
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.2s ease;
  }

  .nav-links {
    background: #ECE7E6;
    position: fixed;
    opacity: 1;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    text-align: center;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
    padding: 10px;
    font-size: 22px;
  }

  li.fade {
    opacity: 1;
  }

  /* Navigation Bar Icon on Click*/

  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .search-container {
    padding: 30px;
    margin: 20px;
  }

  .search-container .search-input {
    width: 100%;
    margin: 20px;
  }

  .search-container:hover>.search-input {
    width: 100%;
  }

  .search-container:hover {
    animation: none;
  }

  /************** Sidebar section Start ***************/
  .recent-posts .recent-post img {
    margin-right: 10px;
    width: 150px;
    height: auto;
  }

  .sidebar .search input {
    width: 250px;
  }

  /************** Footer 1st row section Start ***************/
  footer .row {
    display: block;
    width: 100%;
    justify-content: center;
  }

  /************** Footer column4 section Start ***************/
  .footer-col4 form input {
    width: 250px;
    height: 40px;
  }

  /************** Footer 2nd row section Start ***************/
  footer .row2 {
    flex-direction: row;
    height: auto;
    text-align: center;
  }


}